<div class="top-row ps-3 navbar navbar-dark bg-dark">
    <div class="container-fluid bg-dark">
        <a class="navbar-brand" href="">fl_front</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable bg-dark" @onclick="ToggleNavMenu">
    <nav class="nav flex-column bg-dark">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="upload">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Analizar Guias
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="demand-reports">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Demanda de Insumos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="forecast">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Prediccion
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="health">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Health
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
